<%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>

<div class="center bg-warning">

  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the Ruby on Rails tutorial
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("railslogo.png", width: 150, alt: "Rails logo"), 'http://rubyonrails.org/' %>



